@font-face {
  font-family: "vcr";
  src: url(../assets/fonts/VCR.ttf);
}
/* Orden de propiedades:
1. Position.
2. Box model.
3. Text.
4. Visual properties: background, border-radius, etc.
5. Others.
*/
body {
  color: white;
  font-family: Arial;
  background-color: #10101a;
}

h2 {
  text-align: center;
}

header {
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 100vw;
  padding: 0;
}

.nav {
  display: flex;
  align-items: center;
  border: 1px solid white;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
}
.nav a {
  color: #a8e00a;
}
.nav img:first-child {
  width: 200px;
}
.nav img:last-child {
  width: 50px;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  min-width: 85vw;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  background-image: url(../assets/img/rejillaFondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me img {
  width: 300px;
  border-radius: 70px 0 70px 0;
}

.about-me-info {
  max-width: 40rem;
}
.about-me-info__name {
  font-size: 3rem;
}
.about-me-info__name span {
  font-family: "vcr";
  font-size: 6rem;
  text-transform: uppercase;
}
.about-me-info__name span span {
  color: #a8e00a;
}
.about-me-info__description {
  padding: 2rem 0;
  font-size: calc(16px + 0.5vw);
}
.about-me-info__button {
  border: 2px solid green;
  color: white;
  font-size: 1.2rem;
  background-color: #10101a;
  border-radius: 8px;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  min-width: 60vw;
  max-width: 60vw;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #014047;
}
.skills-section div {
  flex-basis: 8rem;
  flex-grow: 1;
  padding: 1rem;
  background-color: #10101a;
  border-radius: 0.5rem;
}

.projects-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.projects-section h3 {
  text-align: center;
  font-family: "vcr";
}
.projects-section button {
  border: 1px solid #10101a;
  background-color: inherit;
  border-radius: 0.5rem;
}
.projects-section-microsoft {
  display: flex;
  gap: 4vw;
  grid-column: 1/3;
  padding: 3vw;
  align-items: center;
  background-color: #d0ff94;
}
.projects-section-microsoft img {
  width: 50%;
  border-radius: 3vw;
}
.projects-section-microsoft h3 {
  font-size: 8vw;
}
.projects-section-microsoft__button {
  font-size: 3vw;
}
.projects-section-nike {
  background-color: #cbe5ff;
}
.projects-section-oakley {
  background-color: #4b56d2;
}
.projects-section-nike, .projects-section-oakley {
  padding: 3vw;
}
.projects-section-nike img, .projects-section-oakley img {
  width: 100%;
  border-radius: 3vw;
}
.projects-section-nike h3, .projects-section-oakley h3 {
  font-size: 5vw;
}
.projects-section-nike__button, .projects-section-oakley__button {
  font-size: 2vw;
}

.arrows-down {
  width: 150px;
  margin: 0 auto;
}

.contact-section__text {
  padding: 1rem 10vw;
  font-size: 1.3rem;
  background-image: url(../assets/img/rejillaFondo5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact-section__text p {
  margin: 0 auto;
  text-align: center;
}
.contact-section-socialnetworks {
  display: flex;
  flex-wrap: wrap;
}
.contact-section-socialnetworks div {
  flex-grow: 1;
  flex-basis: 25%;
  padding: 1rem 1rem;
  text-align: center;
}
.contact-section-socialnetworks button {
  border: 1px solid white;
  width: 15rem;
  color: white;
  font-size: 2rem;
  background-color: inherit;
  border-radius: 0.4rem;
}
.contact-section-socialnetworks__github {
  background-color: gray;
}
.contact-section-socialnetworks__linkedin {
  background-color: rgb(47, 81, 183);
}
.contact-section-socialnetworks__instagram {
  background-color: rgb(255, 121, 143);
}
.contact-section-socialnetworks__twitter {
  background-color: rgb(110, 172, 244);
}
.contact-section-socialnetworks__email {
  min-width: 100vw;
  background-color: #badf65;
}
.contact-section-socialnetworks__email a {
  color: white;
  font-size: 6vw;
}

.footer {
  text-align: center;
}
.footer a {
  padding-bottom: 3rem;
  color: white;
}

@media screen and (min-device-width: 2000px) {
  .about-me-info {
    max-width: 60vw;
  }
}
@media screen and (max-device-width: 1150px) {
  .about-me {
    flex-direction: column-reverse;
    gap: 2.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
