<h2>Directivas</h2>
<h3>[ngClass]</h3>
<section [ngClass]="{'verdadero': isTrue, 'falso': !isTrue}">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique laboriosam sunt velit cupiditate sit quae dolor earum consectetur optio quisquam.</p>
</section>

<h3>*ngIf</h3>
<section *ngIf="renderiza || otroRenderiza; else sectionSiEsFalse ">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique laboriosam sunt velit cupiditate sit quae dolor earum consectetur optio quisquam.</p>
</section>

<ng-template #sectionSiEsFalse>
  <section>
    <p>Este texto se muestra cuando renderiza es false.</p>
  </section>
</ng-template>

<h3>*ngFor</h3>
<ul>
  <li *ngFor="let item of arr; index as i">{{i+1}} {{item}}</li>
</ul>

<h3>Property binding</h3>
<img [src]="imageLink" alt="">

<form (ngSubmit)="imprimir()">
  <input name='inputValue' type="text" [value]="name" [(ngModel)]="inputValue">
</form>

<p>{{inputValue}}</p>
<button (click)='agregarElemento()'>Agregar elemento al array</button>
<button (click)='eliminarUltimoElemento()'>Eliminar ultimo elemento</button>
<button (onEnter)="miFuncion($event)">Evento personalizado</button>

