@use 'variables';

@font-face {
    font-family: "vcr";
    src: url(../assets/fonts/VCR.ttf);
}

/* Orden de propiedades:
1. Position.
2. Box model.
3. Text.
4. Visual properties: background, border-radius, etc.
5. Others.
*/

body {
    color: white;
    font-family: Arial;
    background-color: variables.$main-background-color;
}
h2 {
    text-align: center;
    font-size: 3.5rem;
    font-family: variables.$main-font;
}
button {
    cursor: pointer;
}
button svg {
    vertical-align: middle;
}
article svg {
    padding: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 100vw;
    padding: 2rem 0 3rem 0;
}

.nav {
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;

    a{
        color: variables.$main-green-color;
    }
    &__logo {
        width: 200px;
    }
    &__menu-icon {
        width: 50px;
        vertical-align: middle;
    }
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    min-width: 85vw;
    align-items: center; 
    justify-content: space-evenly; 
    margin: 0 auto;
    background-image: url(../assets/img/rejillaFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    img {
        width: 300px;
        border-radius: 70px 0 70px 0;
    }
}

.about-me-info {
    max-width: 40rem;
    &__name {
        font-size: 3rem;
        &--big {
            font-family: variables.$main-font;
            font-size: 6rem;
            text-transform: uppercase;
            span {
                color: variables.$main-green-color
            }
        }
    }
    &__description {
        padding: 1.5rem 0;
        font-size: calc(16px + 0.5vw);
    }
    &__button {
        border: 2px solid variables.$main-green-color;
        color: variables.$main-green-color;
        font-size: calc(16px + 0.8vw);
        background-color: variables.$main-background-color;
        border-radius: 8px;
        &:hover {
            color: white;
            background-color: variables.$main-green-color;
        }
        &:active {
            background-color: #82ad0b;
        }
    }
}

.skills-section {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    min-width: 60vw;
    max-width: 60vw;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: variables.$skills-section-color;

    div {
        flex-basis: 8rem;
        flex-grow: 1;
        padding: 1rem;
        text-align: center;
        background-color: variables.$main-background-color;
        border-radius: 0.5rem;
        p {
            margin: 0;
        }
    }
}

.projects-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    h3 {
        text-align: center;
        font-family: variables.$main-font;
    }
    button {
        border: 1px solid variables.$main-background-color;
        background-color: inherit;
        border-radius: 0.5rem;
    }
    &-microsoft {
        display: flex;
        gap: 4vw;
        grid-column: 1/3;
        padding: 3vw;
        align-items: center;
        color: #7e9549;
        background-color: variables.$project1-section-color;
        border-radius: 0 2vw 2vw 0;

        img {
            width: 50%;
            border-radius: 3vw;
        }
        h3 {
            font-size: 8vw;
            padding: 3vw 0;
        }
        &__button {
            font-size: 3vw;
            padding: 0 2vw;
            &:hover {
                color: white;
                background-color: variables.$main-background-color;
            }
            &:active {
                background-color: #3d3d44;
            }
        }

    }
    &-nike {
        color: #8596a6;
        background-color: variables.$project2-section-color;
        border-radius: 0 2vw 2vw 0;
    }
    &-oakley {
        color: #bcd5ec;
        background-color: variables.$project3-section-color;
        border-radius: 2vw 0 0 2vw;
    }
    &-nike, &-oakley {
        padding: 3vw;
        img {
            width: 100%;
            border-radius: 3vw;
        }
        h3 {
            font-size: 5vw;
            padding: 2vw 0;
        }
        &__button {
            font-size: 2vw;
            padding: 0 2vw;
            &:hover {
                color: white;
                background-color: variables.$main-background-color;
            }
            &:active {
                background-color: #3d3d44;
            }
        }
    }
}

.arrows-down {
    width: 150px;
    margin: 0 auto;
}

.contact-section {
    &__text {
        padding: 1rem 10vw;
        font-size: 1.3rem;
        background-image: url(../assets/img/rejillaFondo2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        p {
            margin: 0 auto;
            text-align: center;
        }
    }
    &-socialnetworks {
        display: flex;
        flex-wrap: wrap;
        
        div {
            flex-grow: 1;
            padding: 1rem 1rem;
            text-align: center;
        }
        button {
            border: 1px solid white;
            width: 15rem;
            color: white;
            font-size: 2rem;
            background-color: inherit;
            border-radius: 0.4rem;
        }
        &__github {
            background-color: gray;
            button:hover {
                background-color: rgb(84, 84, 84);
            }
            button:active {
                background-color: rgb(57, 57, 57);
            }
        }
        &__linkedin {
            background-color: rgb(47, 81, 183);
            button:hover {
                background-color: rgb(34, 58, 130);
            }
            button:active {
                background-color: rgb(24, 41, 94);
            }
        }
        &__instagram {
            background-color: rgb(255, 121, 143);
            button:hover {
                background-color: rgb(205, 96, 114);
            }
            button:active {
                background-color: rgb(162, 75, 89);
            }
        }
        &__twitter {
            background-color: rgb(110, 172, 244);
            button:hover {
                background-color: rgb(82, 130, 186);
            }
            button:active {
                background-color: rgb(66, 105, 150);
            }
        }
        &__email {
            width: 100vw ;
            background-color: #badf65;
            a {
                color: white;
                font-size: 6vw;
            }
        }
    }
    
}

.footer {
    text-align: center;
    a {
        color: white;
    }
    
}

// Responsive media queries
// Para TV
@media screen and (min-device-width: 2000px) {
    .about-me-info {
        max-width: 60vw;
    }
}
@media screen and (max-device-width: 1800px) {
    .skills-section {
        flex-wrap: wrap;
    }
}
@media screen and (max-device-width: 1150px) {
    .about-me {
        flex-direction: column-reverse;
        gap: 2.5rem;
    }
}

@media screen and (max-device-width: 600px) {
    .about-me-info__name {
        font-size: 2.5rem;
        span {
            font-size: 3.5rem;
        }
    }
    .about-me, .contact-section__text {
        background-image: unset;
    }
    .projects-section {
        grid-template-rows: 1fr 0.5fr 0.5fr;
        h3 {
            font-size: 3rem;
        }
        button {
            font-size: 2rem;
        }
        &-microsoft {
            flex-wrap: wrap;
            justify-content: space-evenly;
            text-align: center;
            img {
                width: 100%;
            }
        }
        &-nike, &-oakley {
            grid-column: 1/3;
            text-align: center;
        }
    }
    

}



