/**{
  background-color: #F0F7F;
}
*/
.forms-fields, .submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#submit-button {
    margin-top: 5%;
    width: 20%;
    height: 50px;
    border-radius: 15px;
    background-color: #562eaf;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#name, #correo, #carrera, #correo, #ID {
    width: 30%;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
    background-color: #155FE6;
    color: #f0f7ff;
}

