section article {
    color: green;
}
article {
    color: purple;
}
p:first-of-type {
    color: red;
}

p {
    color: blue;
}

.div {
    border: 20px solid black;
    width: 100px;
    height: 100px;
    background: linear-gradient(#e66465, #9198e5);
    margin: 100px;
    padding: 100px;
    display: inline-block;
}

h1 {
    display: inline;
    width: 50px;
}

