.Contenedor{
    color:rgb(61, 212, 71)
}

p:first-child{
    color:rgb(71, 71, 219)
}

p{
    color:blueviolet
}

div{
    border: 100px solid black;
    width: 100px;
    height: 100px;
    margin: 100px 100px;
    padding: 50px;
    background: linear-gradient(red, purple);
}