$main-background-color: #10101a;
$main-green-color: #a8e00a;
$skills-section-color: #014047;
$project1-section-color: #d0ff94;
$project2-section-color: #cbe5ff;
$project3-section-color: #4b56d2;
$main-font: "vcr";
