<h2>Buscar país</h2>
<form>
    <input type="text" class="form-control mt-4" [(ngModel)]="termino">
</form>

<table class="table mt-4">
    <thead>
    <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Población</th>
        <th>Más información</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bandera</td>
            <td>Nombre país</td>
            <td>1626373</td>
            <td><a href="#">Ver más</a> </td>
        </tr>
    </tbody>
</table>
