body{
    background-color: var(--main-background-color);
    color: white;
    font-family:'Times New Roman', Times, serif;
}
img{
    width: 300px;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-me-info_name{
    font-size: 3rem;
    color: aliceblue;
}

.about-me-info_description{
    padding: 2rem 0;
}

.about-me {
    display: flex;
    max-width: 80vw;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me-info{
    max-width: 54rem;
}

.about-me-info_button{
    border: 2px solid var(--main-green-color);
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: var(--main-background-color);
    color: white
}

.about-me-info_button i{
    color: white;
    font-size: 10rem;
}
