body{
    background-color: var(--main-background-color);
    color: white;
    font-family:'Times New Roman', Times, serif;
}

img{
    width: 200px;
    height: 200px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.about-me{
    display: flex;
    max-width: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    
}

.about-me-info{
    max-width: 40rem;
}
.about-me-info__name{
    font-size: 3rem;
}

.about-me-info__description{
    padding: 2rem 0;
}

.about-me-info__more{
    border: 2px solid var(--main-second-color);
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: var(--main-background-color);
    color: white;
}

.bi-bi-arrow-down-circle{
    color: white;
}